<form action="/bookmarks" method="post">
  <label for = "url"> Type in the web address here
  </label>
  <input type="text" name="url">
  <label for = "title"> Title, please...
  </label>
  <input type='text' name='title'>
<input type="submit" value="add new bookmark">
</form>
